.pro-wrapper {
    background-color: transparent;
    margin-top: 120px;
    padding: 20px;
    margin-bottom: 60px
}
.modalauthBox{
    width: 39%;
    height: 75vh;
    margin: 70px auto;
    background-color: white;
    border:1px solid white;
    border-radius: 10px;
}

.pro-container{
    display: flex;
    font-family: 'Raleway, sans-serif';
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    min-width: 20px;
    margin: 4% auto;
    padding: 1% 0;
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border-radius: 10px;
}
.card{
    width: 450px;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    margin: 20px;
    border: 1px solid black;
    flex-direction: column;
    box-shadow: 0px 5px 10px 5px rgb(58, 66, 66);
    border-radius: 4px;
}
.pro-end{
    display: flex;
    align-items: center; 
}
.pro-end > button { 
    width: 10vw;
    height: 3.5vh;
    margin: auto;
    border: 0.5px solid black; 
    color: black; 
    border-radius: 3px;
    cursor: pointer;
    background: rgb(233, 219, 214);
}

.image {
    width: 100%;
    height: 42%;
}
.text {
    font-family: 'Raleway, sans-serif';
    height: 60%;
    padding: 0 5px;
    background-color: rgb(15, 15, 15);
    color: white;
}

.text > p {
    margin: 0;
    font-size: 17px;
}
.text > h2 {
    margin: 8px 0px;
    font-size: 20px;
} 
.buttons button{
    width: 10vw;
    height: 3.5vh;
    margin: 7px;
    border: 0.5px solid black;
    background:white;
    color: black;
    background: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.buttons button:hover {
    background:white;
    color: black;
}

.tech{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech img{
    width: 40px;
    margin: 0 2%;
}
.paper {
    position: relative;
    top: 10%;
    left: 25%;
    width: 700px;
    height: 400px;
    background-color: white;
}
.video  {
    width: 700px;
    height: 400px;
}
@media only screen and (max-width: 768px) {
    .pro-wrapper {
        height: auto;
    }
    
    .text > h2 {
        margin: 8px 0px;
        font-size: 20px;
    }
    .text > p {
        margin: 0;
    }
    .tech img{
        width: 35px;
        margin: 0 2%;
    }
    /* .buttons button{
        width: 30vw;
        font-size: 12px;
    } */
    .paper {
        top: 20%;
        left: 5%;
        width: 300px;
        height: 200px;
    }
    .video {
        width: 300px;
        height: 200px;
    }
    .pro-end > button { 
        width: 150px;
        height: 3vh;
        margin: auto;
        border: 0.5px solid black;
      
        color: black; 
        border-radius: 3px;
        cursor: pointer;
        background: rgb(233, 219, 214);
    }
}
